<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Spam Classifier</title>
</head>
<body>
    <h1>Spam Classifier</h1>
    <form id="messageForm">
        <h2>Please enter a message to test if it's a spam or not :</h2>
        <label for="message">Your message :</label><br>
        <input type="text" id="message" name="message" required>
        <button type="submit">Test</button>
    </form>

    <div class="result" id="result"></div>

    <script>
        document.getElementById('messageForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const message = document.getElementById('message').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ message: message })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').textContent = `Result: ${data.prediction}`;
            })
            .catch(error => {
                document.getElementById('result').textContent = 'Error during the submit of the message.';
            });
        });
    </script>
</body>
</html>
